test_assets/*
export_presets.cfg
.import
.import/
.import/*
*.translation
.mono/
addons/discord_game_sdk/discord_game_sdk.dll
addons/discord_game_sdk/discord_game_sdk.dylib
addons/discord_game_sdk/libdiscord_game_sdk.so
patreon*.txt