build
build/
build/*
android
android/
android/*
export_presets.cfg
.import
.import/
.import/*
.godot
.godot/
.godot/*
*.translation
addons/discord_game_sdk/bin
addons/discord_game_sdk/bin/
addons/discord_game_sdk/bin/*